.plan {
    border-radius: 16px;
    color: white;
    background-color: #221F1F;
    transition: 0.3s;
}

.plan:hover {
    /* background:  #900909; */
    transform: scale(1.05);

}

ul span li{
    margin-top: 5px;
}
.plan:hover button{

    background: transparent;
    border: 2px solid whitesmoke;
}

.plan button {
    border-radius: 11px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    background: red;
    transition: transform 0.3s ease;
}

.plan button:hover {
    transform: scale(0.98);
    background-color: whitesmoke;
    color: #221F1F;
}