/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color-light: #ffff;    /* Light theme text color */
  --bg-color-light: black;      /* Light theme background color */
  
  --text-color-dark: #ffff;     /* Dark theme text color */
  --bg-color-dark: black;       /* Dark theme background color */

  /* ... other variables ... */
}

.light-theme {
  --text-color: var(--text-color-light);
  --bg-color: var(--bg-color-light);
}

.dark-theme {
  --text-color: var(--text-color-dark);
  --bg-color: var(--bg-color-dark);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

ul {
  background-color: transparent !important;
}

.input {
  background-color: transparent !important;
}

@layer utilities {
  .cs-input {
    @apply bg-gray-50/10 text-sm focus:ring-blue-500 outline-none block p-2.5 text-white;
  }
  .cs-btn {
    @apply px-4 w-full bg-red-600 py-[10px] rounded-[1px] text-white;
  }
}